<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
    <link rel='stylesheet' href='/bootstrap/css/bootstrap1.min.css' />
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
      <script src='/javascripts/NewsList.js'></script>
  <style>
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      body {
        background-color: #1BFD08; 

      }

      h2 {
          color: black;
        }
      h3 {
          color: white;
        }
   
      #masonry {
       
      }
      .item {
        width:  300px;
        height: auto;
        float: left;
        border: 2px solid #333; 
        background: #252525;
        list-style-type: none;
        font-style:;
        background-color: #252525;
        color: white;
        margin-right: 20px;
        margin-bottom: 20px;
        text-wrap: suppress;
      }
      .links {
        color: blue;
      }
   footer {
    background-color: #252525;
   }   
         
    </style>


        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="/">Financial Experts</a>
       </div>
       <ul class="nav navbar-nav">
          <li class="active"><a href="/about">About <span class="sr-only">(current)</span></a></li>
       
       </ul>
      </div>
    </nav>

     <ul>
  
    </ul>

   <div class="container">
    
        <div id='masonry'>
   
        <h2><%= title %></h2>
        <ul> 
        <% experts.forEach(function(expert) { %>
        
      <li class="item"><h3><%= expert.title %> </h3>
        <%= expert.description %>
        <a class="links" href ='<%= expert.link %>'><%= expert.link %></a>
      </li>
    <% }); %>
      </div>
   
    </ul>
   


   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <sccript src="/bootstrap/js/bootstrap.min.js"></script> -->
  </body>
  <footer>
    <p>Created by Sharon Stratsianis using the MEAN stack. January 2016 </p>
    <p>Inspired by Simon Holmes, author of Getting MEAN with Mongo, Express, Angular and Node </p>
  </footer>  
</html>
